*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'open sans', sans-serif;
}

main {
  min-height: 400px;
  display: grid;
  /*row-gap:10px;*/
  justify-content: center;
  /*flex-direction:row;*/
  /*padding: 10px;*/
}

h1{

  padding:20px;
  align-items: center;
  display: flex;
  justify-content: space-around;
/*  margin:100px 0px;*/
}

.formulario {
  width: 100%;
  /*margin: 90px 3px;*/
  border-radius: 10px;
  padding-top: 300px;
  padding-bottom: 20px;
  background-color: #fff;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*espaciado*/
  gap:25px;
  background: #f2f2f2;
}


.formulario__label {
	display: block;
	font-weight: 70;
	padding: 5px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 1px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.botonCalcular{
  height: 45px;
	line-height: 45px;
	width: 30%;
	background: #f1c232;
	color: #000;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 2;
}

.botonCalcular:hover{
  box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.botonLimpiar{
  height: 45px;
	line-height: 45px;
	width: 30%;
	background: #f1c232;
	color: #000;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 2;
}

.botonLimpiar:hover{
  box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__porcentajes p {
  display: block;
	font-weight: 70;
	padding: 5px;
	cursor: pointer;
}

.logo img{
  margin-right:10px;

  float: right;
  width:250px;

}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}
